header{
    .img{
        display: grid;
        justify-content: center;
        align-items: center;

        img{
            border-radius: 30%;
            height: 10%;
            width: 10%;
        }        
    }
    .about{
        display: grid;
        border: dotted 1px red;
       // width: 500px;
       // height: 500px;

        
    }
    .skill{
        display: grid;
        border: 1px dotted red;
       // width: 500px;
       // height: 500px;

    }
    .future{
        display: grid;
    }
    .contact{
        display: grid;
    }
    div{
        display: grid;
        grid-area: auto;
        grid-template-columns:"about img skill
                               future img contact" ;

    }
}