body{        
    background-image: url("img/dark_Village.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    .firstScene{
        position: fixed;
        width:100%;
        height: 100%;
        background-image: url("img/evil-castle-dark-fantasy.jpg");
        left:0;
        top:0;
        z-index:3;
        .kurtyna{
            position: relative;
            div{
                position: absolute;
                border:2px solid #000;
                height:70vh;
                width:120vw;

            }
            .up{
                top:-30vh;
                left:-10vw;
                transform: rotate(-10deg);
                background-color:rgb(51, 49, 49);

            }
            .down{
                transform: rotate(-10deg);
                background-color:rgb(51, 49, 49);
                top:60vh;
                left:-10vw;
            }
        }
        .password{
            position:fixed;
            left:0;
            right:0;
            z-index:4;
            width:100%;
            height:100%;
            display:flex;
            justify-content: center;
            align-items: center;
        }
    }
    .secScene{
        width:100%;
        height: 100%;
        position: fixed;
        left:0;
        top:0;
        background-image: url("img/evil-castle-dark-fantasy.jpg");
        z-index:2;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
    }
    .bg{

    
        .menu{
            position: relative;
            border: 1px dotted red;
        }
        ul{
            list-style-type: none;
            padding: 1%;
        }
        ul{
            background-color: rgb(22, 22, 22);
            position: sticky;
            top: 0%;
            cursor: pointer;
            display: flex;
            justify-content: space-evenly;
            width: 80%;
            margin-top: 0;
            margin-bottom: 0;
        }
        li{
            position: relative;
            display: inline-block;
            width:10%;
            text-align:center;
            padding:0%;

        }

        ul>li:hover > .dropdown-content{
            transition: 2s;
            display:block;

        }
        .dropdown-content{
            background-color: rgb(102, 99, 99);
            display:none;
            position: absolute;
            background-color:grey;
            width:100%;
            padding:2%;
            left:0;
            top:102%;  
 
        }
        .quotes{
            display: flex;
            width: 100%;
        }
        .text{
            color: white;
            text-align: center;
        }
        .hide{
            display: flex;
            position: fixed;
            text-align: center;
            justify-content: right;
            flex-direction: column;

        
        .icon{
            color: white;
            flex-direction: column;
            font-size: 30px;
        }
        }
    }
        .hide{
            display: flex;
            position: sticky;
            text-align: center;
            justify-content: right;
            flex-direction: row;
            height: fit-content;
            background-color: red;
            right: -42px;
               &:before{
                    content: "<";
                    position: absolute;
                    width: 30px;
                    left: -30px;
                    background-color: red;
               
                &:hover{
                    right: 0;
                    transition: 1s;
                } 
        }       
        
        .icon{
            color: white;
            flex-direction: column;
            font-size: 30px;

        }
        }

}