body{      
    .firstScene{
        position: fixed;
        width:100%;
        height: 100%;
        background-image: url("img/evil-castle-dark-fantasy.jpg");
        left:0;
        top:0;
        z-index:3;
        .kurtyna{
            position: relative;
            div{
                position: absolute;
                height:70vh;
                width:120vw;

            }
            .up{
                top:-30vh;
                left:-10vw;
                transform: rotate(-10deg);
                background-color:rgba(0, 0, 0, 0.945);
                border:1px solid #000;
                box-shadow: 20px 20px 40px #000,20px 20px 40px #000;

            }
            .down{
                transform: rotate(-10deg);
                background-color:rgba(0, 0, 0, 0.945);
                border:1px solid #000;
                box-shadow: 20px 20px 40px 40px #000, 20px 20px 40px 40px #000;
                top:60vh;
                left:-10vw;
            }
        }
        .password{
            position:fixed;
            left:0;
            right:0;
            z-index:4;
            width:100%;
            height:100%;
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .firstInput{
            color:#fff;
            width:120px;
            height:20px;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.8);
            border:1px solid #000
        }
        .firstInput:focus{
            color: #fff;
            background-color:#000;
            border:1px solid #fff;
            outline: none;
        }
    }
    .secScene{
        width:100%;
        height: 100%;
        position: fixed;
        left:0;
        top:0;
        background-image: url("img/evil-castle-dark-fantasy.jpg");
        z-index:2;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;

        .frontWindow{
            width:350px;
            height: 350px;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 350px;
            border:2px solid rgb(137, 140, 143);
            
            .frontWindowSec{
                width:300px;
                height:300px;
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: rgba(0, 0, 0);
                border-radius: 50%;
                border:1px solid rgb(137, 140, 143);

                .firstLink{
                    color: #fff;
                    font-size: 32px;
                    text-decoration: none;
                    transition-duration: 5s;
                }

                .firstLink:hover{
                    color: #000;
                    text-shadow: 1px 1px 4px #fff;
                    transition-duration: 0.8s;
                }
            }
        }
    }
    .container{
    
        .menu{
            position: relative;
        }
        ul{
            list-style-type: none;
            padding: 1%;
        }
        ul{
            background-color: rgb(22, 22, 22);
            box-shadow: 10px 10px 20px;
            position: sticky;
            top: 0%;
            text-align: center;
            cursor: pointer;
            display: flex;
            justify-content: space-evenly;
            width: 80%;
            margin-top: 0 ;
            margin-bottom: 0;
        }
        li{
            position: relative;
            display: inline-block;
            width:10%;
            text-align:center;
            padding:0%;

        }

        ul>li:hover > .dropdown-content{
            transition: 2s;
            display:block;

        }
        .dropdown-content{
            background-color: rgb(102, 99, 99);
            display:none;
            position: absolute;
            background-color:grey;
            width:100%;
            padding:2%;
            left:0;
            top:102%;  
 
        }
        .quotes{
            display: flex;
            width: 100%;
        }
        .text{
            margin: 5%;
            width: 850px;
            display: flex;
            color: black;
            text-align: center;
            
        }
        .hide{
            display: flex;
            position: fixed;
            text-align: center;
            justify-content: right;
            flex-direction: column;

        
        .icon{
            color: white;
            flex-direction: column;
            font-size: 30px;
        }
        }
    }
        .hide{
            display: flex;
            position: sticky;
            text-align: center;
            justify-content: right;
            flex-direction: row;
            height: fit-content;

            right: -42px;
               &:before{
                    content:"<-->";
                    font-style: oblique;
                    color: white;
                    position: absolute;
                    width: 30px;
                    left: -30px;

                 }
                &:hover{
                    right: 0!important;
                    transition: 1s;
                } 
    }       
        
        .icon{
            color: white;
            flex-direction: column;
            font-size: 30px;

        }
        
#header
{
    float: left;
}
}