body .firstScene {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("img/evil-castle-dark-fantasy.jpg");
  left: 0;
  top: 0;
  z-index: 3;
}

body .firstScene .kurtyna {
  position: relative;
}

body .firstScene .kurtyna div {
  position: absolute;
  height: 70vh;
  width: 120vw;
}

body .firstScene .kurtyna .up {
  top: -30vh;
  left: -10vw;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  background-color: rgba(0, 0, 0, 0.945);
  border: 1px solid #000;
  -webkit-box-shadow: 20px 20px 40px #000,20px 20px 40px #000;
          box-shadow: 20px 20px 40px #000,20px 20px 40px #000;
}

body .firstScene .kurtyna .down {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  background-color: rgba(0, 0, 0, 0.945);
  border: 1px solid #000;
  -webkit-box-shadow: 20px 20px 40px 40px #000, 20px 20px 40px 40px #000;
          box-shadow: 20px 20px 40px 40px #000, 20px 20px 40px 40px #000;
  top: 60vh;
  left: -10vw;
}

body .firstScene .password {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .firstScene .firstInput {
  color: #fff;
  width: 120px;
  height: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #000;
}

body .firstScene .firstInput:focus {
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  outline: none;
}

body .secScene {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-image: url("img/evil-castle-dark-fantasy.jpg");
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

body .secScene .frontWindow {
  width: 350px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 350px;
  border: 2px solid #898c8f;
}

body .secScene .frontWindow .frontWindowSec {
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  border: 1px solid #898c8f;
}

body .secScene .frontWindow .frontWindowSec .firstLink {
  color: #fff;
  font-size: 32px;
  text-decoration: none;
  -webkit-transition-duration: 5s;
          transition-duration: 5s;
}

body .secScene .frontWindow .frontWindowSec .firstLink:hover {
  color: #000;
  text-shadow: 1px 1px 4px #fff;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

body .container .menu {
  position: relative;
}

body .container ul {
  list-style-type: none;
  padding: 1%;
}

body .container ul {
  background-color: #161616;
  -webkit-box-shadow: 10px 10px 20px;
          box-shadow: 10px 10px 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  text-align: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  margin-top: 0;
  margin-bottom: 0;
}

body .container li {
  position: relative;
  display: inline-block;
  width: 10%;
  text-align: center;
  padding: 0%;
}

body .container ul > li:hover > .dropdown-content {
  -webkit-transition: 2s;
  transition: 2s;
  display: block;
}

body .container .dropdown-content {
  background-color: #666363;
  display: none;
  position: absolute;
  background-color: grey;
  width: 100%;
  padding: 2%;
  left: 0;
  top: 102%;
}

body .container .quotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

body .container .text {
  margin: 5%;
  width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  text-align: center;
}

body .container .hide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  text-align: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .hide .icon {
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 30px;
}

body .hide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  text-align: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  right: -42px;
}

body .hide:before {
  content: "<-->";
  font-style: oblique;
  color: white;
  position: absolute;
  width: 30px;
  left: -30px;
}

body .hide:hover {
  right: 0 !important;
  -webkit-transition: 1s;
  transition: 1s;
}

body .icon {
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 30px;
}

body #header {
  float: left;
}
/*# sourceMappingURL=style.css.map */